NET "sram_adr<0>"   LOC = "L5"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | TNM = "sram_adr" ;
NET "sram_adr<1>"   LOC = "N3"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | TNM = "sram_adr" ;
NET "sram_adr<2>"   LOC = "M4"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | TNM = "sram_adr" ;
NET "sram_adr<3>"   LOC = "M3"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | TNM = "sram_adr" ;
NET "sram_adr<4>"   LOC = "L4"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | TNM = "sram_adr" ;
NET "sram_adr<5>"   LOC = "G4"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | TNM = "sram_adr" ;
NET "sram_adr<6>"   LOC = "F3"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | TNM = "sram_adr" ;
NET "sram_adr<7>"   LOC = "F4"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | TNM = "sram_adr" ;
NET "sram_adr<8>"   LOC = "E3"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | TNM = "sram_adr" ;
NET "sram_adr<9>"   LOC = "E4"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | TNM = "sram_adr" ;
NET "sram_adr<10>"  LOC = "G5"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | TNM = "sram_adr" ;
NET "sram_adr<11>"  LOC = "H3"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | TNM = "sram_adr" ;
NET "sram_adr<12>"  LOC = "H4"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | TNM = "sram_adr" ;
NET "sram_adr<13>"  LOC = "J4"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | TNM = "sram_adr" ;
NET "sram_adr<14>"  LOC = "J3"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | TNM = "sram_adr" ;
NET "sram_adr<15>"  LOC = "K3"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | TNM = "sram_adr" ;
NET "sram_adr<16>"  LOC = "K5"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | TNM = "sram_adr" ;
NET "sram_adr<17>"  LOC = "L3"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | TNM = "sram_adr" ;

NET "sram_dat<0>"   LOC = "N7"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<1>"   LOC = "T8"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<2>"   LOC = "R6"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<3>"   LOC = "T5"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<4>"   LOC = "R5"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<5>"   LOC = "C2"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<6>"   LOC = "C1"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<7>"   LOC = "B1"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<8>"   LOC = "D3"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<9>"   LOC = "P8"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<10>"  LOC = "F2"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<11>"  LOC = "H1"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<12>"  LOC = "J2"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<13>"  LOC = "L2"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<14>"  LOC = "P1"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<15>"  LOC = "R1"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<16>"  LOC = "P2"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<17>"  LOC = "N2"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<18>"  LOC = "M2"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<19>"  LOC = "K1"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<20>"  LOC = "J1"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<21>"  LOC = "G2"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<22>"  LOC = "E1"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<23>"  LOC = "D1"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<24>"  LOC = "D2"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<25>"  LOC = "E2"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<26>"  LOC = "G1"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<27>"  LOC = "F5"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<28>"  LOC = "C3"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<29>"  LOC = "K2"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<30>"  LOC = "M1"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;
NET "sram_dat<31>"  LOC = "N1"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW | KEEPER | TNM = "sram_data" ;

NET "sram_ce1"     LOC = "P7"  | IOSTANDARD = LVTTL | TNM = "sram_adr" ;
NET "sram_ce2"     LOC = "N5"  | IOSTANDARD = LVTTL | TNM = "sram_adr" ;
NET "sram_lb1"     LOC = "P6"  | IOSTANDARD = LVTTL | TNM = "sram_adr" ;
NET "sram_lb2"     LOC = "P5"  | IOSTANDARD = LVTTL | TNM = "sram_adr" ;
NET "sram_ub1"     LOC = "T4"  | IOSTANDARD = LVTTL | TNM = "sram_adr" ;
NET "sram_ub2"     LOC = "R4"  | IOSTANDARD = LVTTL | TNM = "sram_adr" ;
NET "sram_oe"      LOC = "K4"  | IOSTANDARD = LVTTL | TNM = "sram_adr" ;
NET "sram_we"      LOC = "G3"  | IOSTANDARD = LVTTL | TNM = "sram_stb" ;

NET "ata_cs0"     LOC = "H16"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET "ata_cs1"     LOC = "J16"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET "ata_da<0>"   LOC = "G16"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET "ata_da<1>"   LOC = "F15"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET "ata_da<2>"   LOC = "H15"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET "ata_dasp"    LOC = "K16"  | IOSTANDARD = LVTTL | PULLUP ;
NET "ata_dior"    LOC = "D15"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET "ata_diow"    LOC = "C16"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET "ata_dmack"   LOC = "E15"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET "ata_dmarq"   LOC = "C15"  | IOSTANDARD = LVTTL | PULLDOWN ;
NET "ata_intrq"   LOC = "E16"  | IOSTANDARD = LVTTL | PULLDOWN ;
NET "ata_iordy"   LOC = "D16"  | IOSTANDARD = LVTTL | PULLUP ;
NET "ata_reset"   LOC = "C10"  | IOSTANDARD = LVTTL | DRIVE = 4 | SLEW = SLOW ;
NET "ata_dd<0>"   LOC = "M6"   | IOSTANDARD = LVTTL | DRIVE = 4 | PULLDOWN | SLEW = SLOW ;
NET "ata_dd<1>"   LOC = "N6"   | IOSTANDARD = LVTTL | DRIVE = 4 | PULLDOWN | SLEW = SLOW ;
NET "ata_dd<2>"   LOC = "R7"   | IOSTANDARD = LVTTL | DRIVE = 4 | PULLDOWN | SLEW = SLOW ;
NET "ata_dd<3>"   LOC = "T7"   | IOSTANDARD = LVTTL | DRIVE = 4 | PULLDOWN | SLEW = SLOW ;
NET "ata_dd<4>"   LOC = "R10"  | IOSTANDARD = LVTTL | DRIVE = 4 | PULLDOWN | SLEW = SLOW ;
NET "ata_dd<5>"   LOC = "P10"  | IOSTANDARD = LVTTL | DRIVE = 4 | PULLDOWN | SLEW = SLOW ;
NET "ata_dd<6>"   LOC = "N11"  | IOSTANDARD = LVTTL | DRIVE = 4 | PULLDOWN | SLEW = SLOW ;
NET "ata_dd<7>"   LOC = "T3"   | IOSTANDARD = LVTTL | DRIVE = 4 | PULLDOWN | SLEW = SLOW ;
NET "ata_dd<8>"   LOC = "E10"  | IOSTANDARD = LVTTL | DRIVE = 4 | PULLDOWN | SLEW = SLOW ;
NET "ata_dd<9>"   LOC = "C11"  | IOSTANDARD = LVTTL | DRIVE = 4 | PULLDOWN | SLEW = SLOW ;
NET "ata_dd<10>"  LOC = "D11"  | IOSTANDARD = LVTTL | DRIVE = 4 | PULLDOWN | SLEW = SLOW ;
NET "ata_dd<11>"  LOC = "C12"  | IOSTANDARD = LVTTL | DRIVE = 4 | PULLDOWN | SLEW = SLOW ;
NET "ata_dd<12>"  LOC = "D12"  | IOSTANDARD = LVTTL | DRIVE = 4 | PULLDOWN | SLEW = SLOW ;
NET "ata_dd<13>"  LOC = "E11"  | IOSTANDARD = LVTTL | DRIVE = 4 | PULLDOWN | SLEW = SLOW ;
NET "ata_dd<14>"  LOC = "B16"  | IOSTANDARD = LVTTL | DRIVE = 4 | PULLDOWN | SLEW = SLOW ;
NET "ata_dd<15>"  LOC = "R3"   | IOSTANDARD = LVTTL | DRIVE = 4 | PULLDOWN | SLEW = SLOW ;

NET "clock_in"    LOC = "T9"   | IOSTANDARD = LVTTL | TNM_NET = "clock_in" ;

NET "button<0>"   LOC = "M13"  | IOSTANDARD = LVTTL ;
NET "button<1>"   LOC = "M14"  | IOSTANDARD = LVTTL ;
NET "button<2>"   LOC = "L13"  | IOSTANDARD = LVTTL ;
NET "button<3>"   LOC = "L14"  | IOSTANDARD = LVTTL ;
NET "hex_an<0>"   LOC = "D14"  | IOSTANDARD = LVTTL ;
NET "hex_an<1>"   LOC = "G14"  | IOSTANDARD = LVTTL ;
NET "hex_an<2>"   LOC = "F14"  | IOSTANDARD = LVTTL ;
NET "hex_an<3>"   LOC = "E13"  | IOSTANDARD = LVTTL ;
NET "hex_dot"     LOC = "P16"  | IOSTANDARD = LVTTL ;
NET "hex_seg<0>"  LOC = "E14"  | IOSTANDARD = LVTTL ;
NET "hex_seg<1>"  LOC = "G13"  | IOSTANDARD = LVTTL ;
NET "hex_seg<2>"  LOC = "N15"  | IOSTANDARD = LVTTL ;
NET "hex_seg<3>"  LOC = "P15"  | IOSTANDARD = LVTTL ;
NET "hex_seg<4>"  LOC = "R16"  | IOSTANDARD = LVTTL ;
NET "hex_seg<5>"  LOC = "F13"  | IOSTANDARD = LVTTL ;
NET "hex_seg<6>"  LOC = "N16"  | IOSTANDARD = LVTTL ;

NET "led<0>"  LOC = "K12"  | IOSTANDARD = LVTTL ;
NET "led<1>"  LOC = "P14"  | IOSTANDARD = LVTTL ;
NET "led<2>"  LOC = "L12"  | IOSTANDARD = LVTTL ;
NET "led<3>"  LOC = "N14"  | IOSTANDARD = LVTTL ;
NET "led<4>"  LOC = "P13"  | IOSTANDARD = LVTTL ;
NET "led<5>"  LOC = "N12"  | IOSTANDARD = LVTTL ;
NET "led<6>"  LOC = "P12"  | IOSTANDARD = LVTTL ;
NET "led<7>"  LOC = "P11"  | IOSTANDARD = LVTTL ;

NET "RxD"  LOC = "T13"  | IOSTANDARD = LVTTL ;
NET "TxD"  LOC = "R13"  | IOSTANDARD = LVTTL ;

TIMESPEC "TS_clock_in" = PERIOD "clock_in" 20 ns HIGH 50 %;
TIMEGRP "sram_adr" OFFSET = OUT 12 ns AFTER "clock_in" HIGH ;
TIMEGRP "sram_stb" OFFSET = OUT 8 ns AFTER "clock_in" LOW ;
TIMEGRP "sram_data" OFFSET = OUT 12 ns AFTER "clock_in" LOW ;
TIMEGRP "sram_data" OFFSET = IN 12 ns BEFORE "clock_in" HIGH ;
